<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <link rel="shortcut icon" href="images/favicon.png"/>
  <link rel="image_src" type="image/jpeg" href="spiritflagscover.jpg"/>
  <meta name="og:type" content="website" />
  <meta property="og:title" content=""/>
  <meta property="og:site_name" content="" />
  <meta property="og:url" content="" />
  <meta name="og:description" content=""/>
  <meta property="og:image" content=""/>
  <title>Gulp Starter</title>
  <link rel="stylesheet" href="site.min.css"/>
</head>
